.about
	.container-sm
		h2 About
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit autem laborum molestias aut voluptas. Eos sunt ab deleniti ut enim accusamus quis, temporibus alias at quibusdam? Consequatur praesentium minus recusandae!
