.resent-projects
	.container-sm
		h2 Resent projects
	.resent-projects-list-bg
		ul.resent-projects-list.container
			li.project.wedding
				.project-visible-content
					.container-sm
						h3 Maynard wedding
						.project-text-wrapper
							blockquote
								i  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore nisi perspiciatis pariatur. Unde, nostrum dignissimos iste excepturi nobis voluptates illum hic totam ducimus ratione odit numquam veritatis amet corporis, repellat.
							.quote-autor-info
								p.quote-autor Mary Maynard
								p.quote-autor-pos Bride
						a.button.project-extra-toggle(href="#") More
				.project-extra.clear-fix
					ul.project-extra-images.clear-fix
						li
							img(src="assets/img/project-extra-1.jpg")
						li
							img(src="assets/img/project-extra-2.jpg")
						li
							img(src="assets/img/project-extra-3.jpg")
						li
							img(src="assets/img/project-extra-4.jpg")
						li
							img(src="assets/img/project-extra-5.jpg")
						li
							img(src="assets/img/project-extra-6.jpg")
					
					ul.project-extra-info
						li
							i.fa.fa-camera-retro
							p.label Photos taken: #[br] #[span.label-descr 283 Photos]
						li
							i.fa.fa-clock-o
							p.label Time spent: #[br] #[span.label-descr 10 hours]
						li
							i.fa.fa-globe
							p.label Location #[br] #[span.label-descr california, usa]
								

			li.project.linda
				.project-visible-content
					.container-sm
						h3 Linda's photoshoot
						.project-text-wrapper
							blockquote
								i  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore nisi perspiciatis pariatur. Unde, nostrum dignissimos iste excepturi nobis voluptates illum hic totam ducimus ratione odit numquam veritatis amet corporis, repellat.
							.quote-autor-info
								p.quote-autor Lynda Johnson
								p.quote-autor-pos Model
						a.button.project-extra-toggle(href="#") More
				.project-extra.clear-fix
					ul.project-extra-images.clear-fix
						li
							img(src="assets/img/project-extra-1.jpg")
						li
							img(src="assets/img/project-extra-2.jpg")
						li
							img(src="assets/img/project-extra-3.jpg")
						li
							img(src="assets/img/project-extra-4.jpg")
						li
							img(src="assets/img/project-extra-5.jpg")
						li
							img(src="assets/img/project-extra-6.jpg")
					
					ul.project-extra-info
						li
							i.fa.fa-camera-retro
							p.label Photos taken: #[br] #[span.label-descr 135 Photos]
						li
							i.fa.fa-clock-o
							p.label Time spent: #[br] #[span.label-descr 5 hours]
						li
							i.fa.fa-globe
							p.label Location #[br] #[span.label-descr california, usa]
								

			li.project.park
				.project-visible-content
					.container-sm
						h3 National park photoshoot
						.project-text-wrapper
							blockquote
								i  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore nisi perspiciatis pariatur. Unde, nostrum dignissimos iste excepturi nobis voluptates illum hic totam ducimus ratione odit numquam veritatis amet corporis, repellat.
							.quote-autor-info
								p.quote-autor John Treeman
								p.quote-autor-pos National park director
						a.button.project-extra-toggle(href="#") More
				.project-extra.clear-fix
					ul.project-extra-images.clear-fix
						li
							img(src="assets/img/project-extra-1.jpg")
						li
							img(src="assets/img/project-extra-2.jpg")
						li
							img(src="assets/img/project-extra-3.jpg")
						li
							img(src="assets/img/project-extra-4.jpg")
						li
							img(src="assets/img/project-extra-5.jpg")
						li
							img(src="assets/img/project-extra-6.jpg")
					
					ul.project-extra-info
						li
							i.fa.fa-camera-retro
							p.label Photos taken: #[br] #[span.label-descr 322 Photos]
						li
							i.fa.fa-clock-o
							p.label Time spent: #[br] #[span.label-descr 12 hours]
						li
							i.fa.fa-globe
							p.label Location #[br] #[span.label-descr california, usa]
								
