.skills
	.container-sm
		h2 Skills
	.skills-list-bg
		ul.skills-list.container
			li.skill.photogr
				h5 Photography
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, deserunt.
				span.skill-divider
			li.skill.illustr
				h5 Illustration
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, deserunt.
				span.skill-divider
			li.skill.edit
				h5 Editing
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, deserunt.
				span.skill-divider
