
	form#ss-form(action='https://docs.google.com/forms/d/1lvJQxyq97V5yeoJU_G8XNwxoPoCbUzc1QFzNpIjDRq8/formResponse', method='POST', target='_self', onsubmit='')
		ol.ss-question-list(role='list', style='padding-left: 0')
		.ss-form-question.errorbox-good(role='listitem')
			.ss-item.ss-text(dir='auto')
			.ss-form-entry
				label.ss-q-item-label(for='entry_1682108507')
				.ss-q-title
				.ss-q-help.ss-secondary-text(dir='auto')
				input#entry_1682108507.ss-q-short(type='text', name='entry.1682108507', value='', dir='auto', aria-label='  ', title='')
				#1744584767_errorMessage.error-message
				.required-message This is a required question
		|
		.ss-form-question.errorbox-good(role='listitem')
			.ss-item.ss-text(dir='auto')
			.ss-form-entry
				label.ss-q-item-label(for='entry_1611681395')
				.ss-q-title
				.ss-q-help.ss-secondary-text(dir='auto')
				input#entry_1611681395.ss-q-short(type='text', name='entry.1611681395', value='', dir='auto', aria-label='  ', title='')
				#352892296_errorMessage.error-message
				.required-message This is a required question
		|
		.ss-form-question.errorbox-good(role='listitem')
			.ss-item.ss-paragraph-text(dir='auto')
			.ss-form-entry
				label.ss-q-item-label(for='entry_236129378')
				.ss-q-title
				.ss-q-help.ss-secondary-text(dir='auto')
				textarea#entry_236129378.ss-q-long(name='entry.236129378', rows='8', cols='0', dir='auto', aria-label='  ')
				#583750972_errorMessage.error-message
				.required-message This is a required question
		input(type='hidden', name='draftResponse', value='[,,"-3779611301229815404"]\
		')
		input(type='hidden', name='pageHistory', value='0')
		input(type='hidden', name='fvv', value='0')
		input(type='hidden', name='fbzx', value='-3779611301229815404')
		.ss-item.ss-navigate
			table#navigation-table
			tbody
				tr
				td#navigation-buttons.ss-form-entry.goog-inline-block(dir='ltr')
					input#ss-submit.jfk-button.jfk-button-action(type='submit', name='submit', value='Submit')
					.ss-password-warning.ss-secondary-text Never submit passwords through Google Forms.
