
<header>
  <nav>
    <ul>
      <li><a href="#" data-scroll-target=".about">about</a></li>
      <li><a href="#" data-scroll-target=".skills">skills</a></li>
      <li><a href="#" data-scroll-target=".recent-projects">recent-projects</a></li>
      <li><a href="#" data-scroll-target=".contact">contact</a></li>
    </ul>
  </nav>
  <div class="intro">
    <div class="container">
      <div class="intro-headings">
        <h1>Richard Johnson</h1>
        <h4>Professional Photographer</h4>
      </div><a href="#" data-scroll-target=".about" class="continue-btn">Continue</a>
    </div>
  </div>
</header>