
<div class="resent-projects">
  <div class="container-sm">
    <h2>Resent projects</h2>
  </div>
  <div class="resent-projects-list-bg">
    <ul class="resent-projects-list container">
      <li class="project wedding">
        <div class="project-visible-content">
          <div class="container-sm">
            <h3>Maynard wedding</h3>
            <div class="project-text-wrapper">
              <blockquote><i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore nisi perspiciatis pariatur. Unde, nostrum dignissimos iste excepturi nobis voluptates illum hic totam ducimus ratione odit numquam veritatis amet corporis, repellat.</i></blockquote>
              <div class="quote-autor-info">
                <p class="quote-autor">Mary Maynard</p>
                <p class="quote-autor-pos">Bride</p>
              </div>
            </div><a href="#" class="button project-extra-toggle">More</a>
          </div>
        </div>
        <div class="project-extra clear-fix">
          <ul class="project-extra-images clear-fix">
            <li><img src="assets/img/project-extra-1.jpg"/></li>
            <li><img src="assets/img/project-extra-2.jpg"/></li>
            <li><img src="assets/img/project-extra-3.jpg"/></li>
            <li><img src="assets/img/project-extra-4.jpg"/></li>
            <li><img src="assets/img/project-extra-5.jpg"/></li>
            <li><img src="assets/img/project-extra-6.jpg"/></li>
          </ul>
          <ul class="project-extra-info">
            <li><i class="fa fa-camera-retro"></i>
              <p class="label">Photos taken: <br/> <span class="label-descr">283 Photos</span></p>
            </li>
            <li><i class="fa fa-clock-o"></i>
              <p class="label">Time spent: <br/> <span class="label-descr">10 hours</span></p>
            </li>
            <li><i class="fa fa-globe"></i>
              <p class="label">Location <br/> <span class="label-descr">california, usa</span></p>
            </li>
          </ul>
        </div>
      </li>
      <li class="project linda">
        <div class="project-visible-content">
          <div class="container-sm">
            <h3>Linda's photoshoot</h3>
            <div class="project-text-wrapper">
              <blockquote><i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore nisi perspiciatis pariatur. Unde, nostrum dignissimos iste excepturi nobis voluptates illum hic totam ducimus ratione odit numquam veritatis amet corporis, repellat.</i></blockquote>
              <div class="quote-autor-info">
                <p class="quote-autor">Lynda Johnson</p>
                <p class="quote-autor-pos">Model</p>
              </div>
            </div><a href="#" class="button project-extra-toggle">More</a>
          </div>
        </div>
        <div class="project-extra clear-fix">
          <ul class="project-extra-images clear-fix">
            <li><img src="assets/img/project-extra-1.jpg"/></li>
            <li><img src="assets/img/project-extra-2.jpg"/></li>
            <li><img src="assets/img/project-extra-3.jpg"/></li>
            <li><img src="assets/img/project-extra-4.jpg"/></li>
            <li><img src="assets/img/project-extra-5.jpg"/></li>
            <li><img src="assets/img/project-extra-6.jpg"/></li>
          </ul>
          <ul class="project-extra-info">
            <li><i class="fa fa-camera-retro"></i>
              <p class="label">Photos taken: <br/> <span class="label-descr">135 Photos</span></p>
            </li>
            <li><i class="fa fa-clock-o"></i>
              <p class="label">Time spent: <br/> <span class="label-descr">5 hours</span></p>
            </li>
            <li><i class="fa fa-globe"></i>
              <p class="label">Location <br/> <span class="label-descr">california, usa</span></p>
            </li>
          </ul>
        </div>
      </li>
      <li class="project park">
        <div class="project-visible-content">
          <div class="container-sm">
            <h3>National park photoshoot</h3>
            <div class="project-text-wrapper">
              <blockquote><i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore nisi perspiciatis pariatur. Unde, nostrum dignissimos iste excepturi nobis voluptates illum hic totam ducimus ratione odit numquam veritatis amet corporis, repellat.</i></blockquote>
              <div class="quote-autor-info">
                <p class="quote-autor">John Treeman</p>
                <p class="quote-autor-pos">National park director</p>
              </div>
            </div><a href="#" class="button project-extra-toggle">More</a>
          </div>
        </div>
        <div class="project-extra clear-fix">
          <ul class="project-extra-images clear-fix">
            <li><img src="assets/img/project-extra-1.jpg"/></li>
            <li><img src="assets/img/project-extra-2.jpg"/></li>
            <li><img src="assets/img/project-extra-3.jpg"/></li>
            <li><img src="assets/img/project-extra-4.jpg"/></li>
            <li><img src="assets/img/project-extra-5.jpg"/></li>
            <li><img src="assets/img/project-extra-6.jpg"/></li>
          </ul>
          <ul class="project-extra-info">
            <li><i class="fa fa-camera-retro"></i>
              <p class="label">Photos taken: <br/> <span class="label-descr">322 Photos</span></p>
            </li>
            <li><i class="fa fa-clock-o"></i>
              <p class="label">Time spent: <br/> <span class="label-descr">12 hours</span></p>
            </li>
            <li><i class="fa fa-globe"></i>
              <p class="label">Location <br/> <span class="label-descr">california, usa</span></p>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>