
<div class="skills">
  <div class="container-sm">
    <h2>Skills</h2>
  </div>
  <div class="skills-list-bg">
    <ul class="skills-list container">
      <li class="skill photogr">
        <h5>Photography</h5>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, deserunt.</p><span class="skill-divider"></span>
      </li>
      <li class="skill illustr">
        <h5>Illustration</h5>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, deserunt.</p><span class="skill-divider"></span>
      </li>
      <li class="skill edit">
        <h5>Editing</h5>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, deserunt.</p><span class="skill-divider"></span>
      </li>
    </ul>
  </div>
</div>